<div class="row">
    <div class="jumbotron">
        <h2>Paste an url in the field below!</h2>
        <div class="row">
            <div class="col-lg-6">

                <form class="shortener_form" action="/" method="POST">
                    <div class="input-group input-lg">
                        <input type="text" name="link" class="form-control" placeholder="link...">
                        <span class="input-group-btn">

                            <input type="submit" value="Generate!" class="btn btn-default btn-primary">
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</div>

<div class="row">
    <div class="col-lg-8 display_link">

    </div>
</div>