<div class="row">
    <div class="md">
        <table>
            <thead>
                <tr>
                    <th>Top links</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <% top_links.each do |link| %>
                <tr><td>
                    <%= link.link %>
                </td>
                <td>
                    &nbsp;
                </td><td>
                    <%= link.id %>
                </td></tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>